.story1 {
    width: 100%;
    color: #fff;
    background: url('../assets/space2.gif') no-repeat center center/cover;
    height: 150vh;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.story1 .story1-content h1 {
    font-size: 3em;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    transition: 0.5s;
    background: linear-gradient(to bottom, rgb(200, 34, 22), rgb(1, 0, 23) 50%);
}

.story1 .story1-content .story1-intro {
    font-size: 1em;
    padding: 10px 20px;
    align-items: right;
    justify-content: right;
    display: flex;
    text-align: center;
}

.story1 .story1-content .story1-intro .card {
    width: 50%;
    height: 100%;
    background: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    margin-top: 40px;
}

.story1 .story1-content .story1-intro .card .card-content {
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
}

.story1 .story1-content .story1-intro .card .card-content h2 {
    font-size: 1.7em;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.story1 .story1-content .story1-intro .card .card-content span {
    color:rgb(200, 34, 22);
    font-size: 1.2em;
}

.story1 .story1-content .story1-intro .card1 .card-content span {
    color:rgb(200, 34, 22);
    font-size: 1.2em;
}

.story1 .story1-content .story1-intro .card1-img  {
    position: absolute;
    left: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 45%;
    height: 420px;
    background: url('../assets/modelparker.png') no-repeat;
    background-size: cover;
    background-position: fixed;
    transition: 0.5s;
}

.story1 .story1-content .story1-intro .card1 {
    position: absolute;
    left: 10px;
    top: 500px;
    align-items: center;
    width: 40%;
    height: 60%;
    background: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    margin-top: 40px;
}

.story1 .story1-content .story1-intro .card1 .card-content {
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
}

.story1 .story1-content .story1-intro .card2-img  {
    position: absolute;
    right: 30px;
    top: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 45%;
    height: 300px;
    background: url('../assets/parkerlaunch.jpg');
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    border-radius: 15px;
}

@media only screen and (max-width: 600px) {

    .story1 {
        height: calc(250vh - 10px);
    }

    .story1 .story1-content .story1-intro .card {
        width: 100%;
        height: 100%;
        background: transparent;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        padding: 10px;
        border-radius: 10px;
        margin-top: 40px;
    }

    .story1 .story1-content .story1-intro .card1 {
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        padding: 10px;
        border-radius: 10px;
        margin-top: 500px;
    }

    .story1 .story1-content .story1-intro .card1-img {
        align-items: center;
        justify-content: center;
        display: flex;
        transform: translate(0, 160%);
        width: 90%;
        height: 300px;
        background: url('../assets/modelparker.png') no-repeat;
        background-size: cover;
        background-position: fixed;
        transition: 0.5s;
        border-radius: 15px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    }

    .story1 .story1-content .story1-intro .card2-img  {
        transform: translate(4%, 280%);
        align-items: center;
        justify-content: center;
        display: flex;
        width: 90%;
        height: 300px;
        background: url('../assets/parkerlaunch.jpg');
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transition: 0.5s;
        border-radius: 15px;
    }

}


